<div class="main-ct">
    <div class="b-header-kl">
        <div class="mail-kl">
            <div class="tel-kl"> <img src="../../../assets/images/headphones.svg" width="15px" style="color:white"> +1
                333 8654 45841</div>
            <div style="border-right: 1px solid #7c70f9; height: 100%;"></div>
            <div class="email-kl"><img src="../../../assets/images/mail.svg" width="15px" style="color:white"><a
                    href="mailto:support@example.com"> support@example.com</a></div>
        </div>
        <div class="icon-kl">
            <div class="time-kl"><img src="../../../assets/images/schedule.svg" width="16px" style="color:white">Mon -
                Fri: 9:00 am - 06.00pm</div>
            <div style="border-right: 1px solid #7c70f9; height: 100%;"></div>
            <div class="social-icons-kl"><span>Follow:</span>
                <span><img src="../../../assets/images/fb.png" width="15px"></span>
                <span><img src="../../../assets/images/twitter.png" width="15px"></span>
                <span><img src="../../../assets/images/pin.png" width="20px"></span>
                <span><img src="../../../assets/images/linked.png" width="15px"></span>
            </div>
        </div>
    </div>
    <div class="nav-kl">
        <div class="logo-kl"><img src="../../../assets/images/logo.png"></div>
        <div class="navbar-kl">
            <div style="display: flex; width: 8%;">
                <button mat-button [matMenuTriggerFor]="menu" class="btn-home">Home</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/knowledge">Knowledge Base</button>
                    <button mat-menu-item>Home Software</button>
                    <button mat-menu-item>Home Consulting</button>
                </mat-menu>
            </div>
            <div class="word-kl">Company</div>
            <div style="display: flex; width: 10%; ">
                <button mat-button [matMenuTriggerFor]="menu1" class="btn-home">Services</button>
                <mat-menu #menu1="matMenu">
                    <button mat-menu-item>Our Services</button>
                    <button mat-menu-item>Service Details</button>
                </mat-menu>
            </div>
            <div style="display: flex; width: 8%; ">
                <button mat-button [matMenuTriggerFor]="menu2" class="btn-home">News</button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item>Our Blog</button>
                    <button mat-menu-item>Blog Details</button>
                </mat-menu>
            </div>
            <div class="word-kl" routerLink="/contacts">Contacts</div>
            <div style="height: 20%; border-right: 1px solid rgb(183, 178, 178)"></div>
            <div><img src="../../../assets/images/search.svg" width="20px"></div>
            <div class="btn-kl" style="width: 18%; height: 50%;"><button style="width: 100%; height: 100%;"
                    mat-flat-button>Get A Quote</button></div>
        </div>
    </div>
    <div style="width:100%;height:65vh;">
        <div #mapContainer style="width:100%;height:100%;"></div>
    </div>
    <div class="form-ct">
        <div class="form-content-ct">
            <form class="form-fields-ct" [formGroup]="createForm">
                <div style="display: flex;flex-direction: column;justify-content: space-between; height: 11%;">
                    <span style="font-size: 34px;
                    line-height: 1;
                    font-weight: 300;">Contact Us</span>
                    <span style="font-size: 36px; 
                    line-height: 1;
                    font-weight: 500;">Let's Talk Question.</span>
                </div>
                <div style="height: 9%; font-weight: 500; font-size: 14px;
                line-height: 30px; letter-spacing: .8px;
                color: #5d5a77;">
                    Making for software espially of the relating espeially of the face 
                    costa when unknown galley of type and scrambled.
                </div>
                <div class="text-field-ct">
                    <div style="font-weight: 500; 
                    color: #5d5a77;">Your Name*</div>
                    <div class="input-ct"><input type="text" formControlName="name" placeholder="Enter your name"></div>
                </div>
                <div class="text-field-ct">
                    <div style="font-weight: 500; 
                    color: #5d5a77;">Your Email*</div>
                    <div class="input-ct"><input type="text" formControlName="email" placeholder="info.example@gmail.com"></div>
                </div>
                <div class="text-mail-ct">
                    <div style="font-weight: 500; 
                    color: #5d5a77;">Your Message*</div>
                    <div class="input-msg-ct"><textarea formControlName="msg" placeholder="Opinion..."></textarea></div>
                </div>
                <div>
                    <mat-checkbox class="example-margin" style="font-weight: 500;
                    color: #5d5a77 !important;">Don’t show your email address</mat-checkbox>
                </div>
                <div class="send-btn">
                    <button mat-button style="width: 100%; height: 100%;" (click)="onSubmit()">Send Now</button>
                </div>
            </form>
            <div class="form-img-ct">
                <div class="image-form-ct">
                    <div style="height: 46%; display: flex; justify-content: center;">
                        <img src="../../../assets/images/form.png">
                    </div>
                    <div class="form-icons-ct">
                        <div class="icons-content-ct">
                            <div class="icons1-ct">
                                <mat-icon style="color: #6153fc;"> location_on</mat-icon>
                            </div>
                            <div class="form-text-ct">
                                W84 New Park Lan, New York, NY 4586 United States
                            </div>
                        </div>
                        <div class="icons-content-ct">
                            <div class="icons1-ct">
                                <mat-icon style="color: #6153fc;"> phone</mat-icon>
                            </div>
                            <div class="form-text-ct">+9 (256) 254 9568</div>
                        </div>
                        <div class="icons-content-ct">
                            <div class="icons1-ct">
                                <mat-icon style="color: #6153fc;"> mail</mat-icon>
                            </div>
                            <div class="form-text-ct">artom@gmail.com</div>
                        </div>
                        <div
                            style="width: 50%; height: 42px;margin-top: 15px; display: flex;justify-content: space-between;">
                            <div><img src="../../../assets/images/fb2.webp" height="100%"></div>
                            <div><img src="../../../assets/images/twitter2.png" height="100%"></div>
                            <div><img src="../../../assets/images/linked2.png" height="100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-box">
        <div class="blue-content">
            <img src="../../../assets/images/bg.png" width="32%" style="position: absolute;top: 0px;">
            <div class="blue-design">
                <div class="blue-text">
                    Are you ready to get your<br>business grossing
                </div>
                <div class="blue-btn">
                    <div class="btn-input">
                        <!-- <mat-form-field appearance="fill">
                            <mat-label>Email address</mat-label>
                            <input matInput>
                          </mat-form-field> -->
                        <input type="email" placeholder="Email address">
                    </div>
                    <div class="btn-trial"><button mat-button style="width: 100%; height: 100%;">14-DAY FREE
                            TRIAL</button></div>
                </div>
            </div>
            <img src="../../../assets/images/bg1.png" width="52%" style="position: absolute;right: 0px;bottom: 0px;">
        </div>
    </div>
    <div style="height: 15vh;"></div>
    <div class="footer">
        <div class="footer-content">
            <div class="nav1">
                <div class="nav-head">Product</div>
                <div class="nav-list">
                    <a href="#">Features</a>
                    <a href="#">Pricing</a>
                    <a href="#">Create a free account</a>
                    <a href="#">Privacy Policy & GDPR</a>
                    <a href="#">Terms of Service</a>
                </div>
            </div>
            <div class="nav1">
                <div class="nav-head">COMPANY</div>
                <div class="nav-list">
                    <a href="#">About Us</a>
                    <a href="#">Funnel Joy</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact Us</a>
                    <a href="#">Privacy Policy</a>
                </div>
            </div>
            <div class="nav1">
                <div class="nav-head">SUPPORT & TRAINING</div>
                <div class="nav-list">
                    <a href="#">Support</a>
                    <a href="#">Knowledge</a>
                    <a href="#">Webinars</a>
                    <a href="#">API Documentation</a>
                    <a href="#">Log In</a>
                </div>
            </div>
            <div class="nav1">
                <div class="nav-head">RESOURCES</div>
                <div class="nav-list1">
                    <a href="#">API reference</a>
                    <a href="#">Status</a>
                    <a href="#">Get help</a>
                    <a href="#">Brand assets</a>
                    <a href="#" style="display: none;">Hello</a>
                </div>
            </div>
            <div class="nav1">
                <div class="nav-head">SOCIAL MEDIA CONNECT</div>
                <div class="icon-list2">
                    <div class="icons-footer">
                        <span><img src="../../../assets/images/fb1.webp" width="25px"></span>
                        <span><img src="../../../assets/images/twitter1.png" width="26px"
                                style="border-radius: 5px;"></span>
                        <span><img src="../../../assets/images/insta.png" width="27px"></span>
                        <span><img src="../../../assets/images/linked1.png" width="26px"
                                style="border-radius: 5px;"></span>
                        <span><img src="../../../assets/images/youtube.png" width="25px"
                                style="border-radius: 5px;"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-db">
        <div class="footer-db-content">
            <div class="part-one">
                <div> <img src="../../../assets/images/f-logo.png"></div>
                <div style="border-right: 2px solid #7c70f9; height: 25%; margin-top: 12px;"></div>
                <div style="margin-top: 12px; color: white; font-weight: 400;">Copyright © 2021 Artom. All Rights
                    Reserved.</div>
            </div>
            <div class="part-two">
                <div><img src="../../../assets/images/flag.png" width="18px"
                        style="border: 1px solid white; border-radius: 50%;"></div>
                <div style="color: white; font-size: small;">English</div>
                <!-- <div><mat-icon style="color: white; width: 20px;">arrow_drop_down</mat-icon></div> -->
            </div>
        </div>
    </div>
</div>